{{ define "additional-body-class" }}bg-light{{ end }}
{{ define "main" }}
  <main class="mb-auto pb-5">
    <div class="mt-5 mb-4 mx-auto upcards-tag-board">
      <h1 class="upcards-list-title">{{ .Title }}</h1>
      {{ partial "tags.html" . }}
    </div>
    <div class="mx-auto upcards-list-board">
      <div id="grid" class="grid mx-auto">
        {{ range $page := .Pages.ByPublishDate.Reverse }}
          {{ partial "card.html" $page }}
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
