{{ $page := . }}
{{ $publishDate := $page.PublishDate }}
{{ $dateFormat := $page.Site.Params.dateFormat | default "2006-01-02" }}
{{ $lastmodPre := $page.Site.Params.lastmodPre | default "last modified: " }}
{{ $lastmodPost := $page.Site.Params.lastmodPost | default "" }}
{{ $formattedPublishDate := $publishDate.Format $dateFormat }}
<div class="upcards-time-section">
  <p class="upcards-time">
    <time datetime="{{ $publishDate.Format "2006-01-02" }}">{{ $formattedPublishDate }}</time>
  </p>
  {{ with $lastmod := $page.Lastmod }}
    {{ $formattedLastmod := $lastmod.Format $dateFormat }}
    {{ if eq $formattedLastmod $formattedPublishDate }}
    {{ else }}
      <p class="upcards-time">
        {{ $lastmodPre }}<time datetime="{{ $lastmod.Format "2006-01-02" }}">{{ $formattedLastmod }}</time>{{ $lastmodPost }}
      </p>
    {{ end }}
  {{ end }}
</div>
{{ with $tags := $page.Params.tags }}
  <div>
    <span style="position: relative; z-index: 2">
    {{ range $tag := $tags }}
      {{ $href := print (absLangURL "tags/") (urlize $tag) }}
      <a class="btn btn-sm btn-outline-dark tag-btn upcards-tag-button" href="{{ $href }}">{{ $tag }}</a>
    {{ end }}
    </span>
  </div>
{{ end }}
