{{ $page := . }}
{{ $showTwitterShareButton := $page.Site.Params.showTwitterShareButton }}
<div id="articleHeading" class="jumbotron bg-light upcards-single-heading">
  <div class="mx-auto upcards-single-board">
    <h1 class="upcards-single-board-title">{{ $page.Title }}</h1>
    {{ if eq $page.Section "posts" }}
      {{ partial "metadata.html" $page }}
      {{ if $showTwitterShareButton }}
        <div class="mt-3">{{ partial "twitter-share-button.html" $page }}</div>
      {{ end }}
    {{ end }}
  </div>
</div>
<div class="upcards-single-content">
  <div class="mx-auto upcards-single-board">
    {{ $page.Content }}
  </div>
</div>
<script type="text/javascript">
  const pageNavbarHeight = 50;
  const fixedTop = 30;

  function setTocPosition(minScrollForFixed) {
    const scrollTop = document.documentElement.scrollTop;
    if (scrollTop < minScrollForFixed) {
      tocElement.style.top = "" + (fixedTop + (minScrollForFixed - scrollTop)) + "px";
    } else {
      tocElement.style.top = "" + fixedTop + "px";
    }
    return;
  }
  const tocElement = document.getElementById("toc");
  if (tocElement !== null) {
    window.addEventListener('load', (event) => {
      const articleHeadingHeight = document.getElementById("articleHeading").offsetHeight;
      const minScrollForFixed = articleHeadingHeight + pageNavbarHeight;
      window.addEventListener('scroll', (event) => { setTocPosition(minScrollForFixed); });
      setTocPosition(minScrollForFixed);
    })
  }
</script>
{{ if $showTwitterShareButton }}
  {{ partial "twitter-widgets.html" $page }}
{{ end }}
