{{ $page := . }}
{{ $enableMath := $page.Params.math | default false }}
<script src="{{ absURL "/js/bootstrap.bundle.min.js" }}"></script>
<script src="{{ absURL "/js/masonry.pkgd.min.js" }}"></script>
<script src="{{ absURL "/js/feather.min.js" }}"></script>
<script>
  feather.replace();
</script>
<script>
  window.addEventListener("load",function() {
    var elem = document.getElementById('grid');
    if (elem !== null) {
      var masonry =
        new Masonry(elem, {
          itemSelector: '.upcards-grid-item',
          horizontalOrder: true,
          fitWidth: true,
          gutter: 0
        });
    }
  })
</script>
{{ if $enableMath }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
{{ end }}
