<script src="{{ absURL "/js/bootstrap.bundle.min.js" }}"></script>
<script src="{{ absURL "/js/masonry.pkgd.min.js" }}"></script>
<script src="{{ absURL "/js/feather.min.js" }}"></script>
<script>
  feather.replace();
</script>
<script>
  window.addEventListener("load",function() {
    var elem = document.getElementById('grid');
    if (elem !== null) {
      var masonry =
        new Masonry(elem, {
          itemSelector: '.grid-item',
          horizontalOrder: true,
          fitWidth: true,
          gutter: 0
        });
    }
  })
</script>
